.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid tomato;
  padding: 20px;
  margin: 10px 0px 50px 0;
  font-size: 14px;
  color: #505050;
}h3{
  margin-bottom: 50px;
}.orderid{
  color: tomato;
}
.order-item-food,
.order-item-name {
  font-weight: 600;
}
.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}
.order-item-address {
  margin-bottom: 10px;
}
.order-item select {
  background-color: #ffe8e4;
  border: 1px solid tomato;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
}.time p{
  text-align:  center;
  margin-top: 18%;
  
}
.paid {
  color: green;
  background-color: greenyellow;
  border-radius: 30%;
  padding: 0 2px;
  margin-left: 3%;
}.notpaid{
  color: red;
  background-color: rgba(216, 50, 31, 0.358);
  border-radius: 30%;
  padding: 0 2px;
  margin-left: 4%;
}
@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 15px 8px;
  }
  .order-item select {
    padding: 5px;
    font-size: 12px;
  }
  .order-item img {
    width: 40px;
  }
}
@media (max-width: 600px) {
  .order-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .order-item-name {
    margin-top: 5px;
  }.orderid,.orderi{
    font-size: 13px;
  }
}
.verify {
  min-height: 20vh;
  display: grid;
}
.verify .spinner {
  margin-top: 8%;
  margin-left: 6%;
  width: 50px;
  height: 50px;
  border: 5px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  animation: rotate 1s infinite;
}
@media (max-width: 1500px) {
  .verify .spinner {
    width: 40px;
    height: 40px;
  }
} @keyframes rotate {
  100%{
      transform: rotate(360deg);
  }
  
}