.container {
  margin: 30px;
}
h3 {
  color: tomato;
}

table {
  border-collapse: collapse;
  width: 80vw;
  cursor: pointer;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  text-align: center;
  border-bottom: 1px solid #b7afaf;
}
.email {
}

tr:hover {
  background-color: tomato;
}
@media (max-width: 600px) {
  td{
    font-size: 60%;
  }
}
