.my-orders {
  margin: 50px 0px;
}

.notpaid {
  color: red;
  background-color: rgba(216, 50, 31, 0.358);
  border-radius: 30%;
  padding: 0 2px;
  margin-left: 4%;
  cursor: pointer;
}

.paid {
  color: green !important;
  background-color: greenyellow;
  border-radius: 30%;
  padding: 0 2px;
  cursor: pointer;
  margin-left: 3%;
}

.my-orders.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 10px 20px;
  color: #454545;
  border: 1px solid tomato;
}

.my-orders-order img {
  width: 50px;
}.place{
  text-align: center;
  font-weight: 900;
  margin-top: 5%;
}

.my-orders-order p span {
  color: tomato;
}

.my-orders-order p b {
  font-weight: 500;
  color: #454545
}

.my-orders-order button {
  border: none;
  padding: 12px 0;
  border-radius: 4px;
  background-color: #ffe1e1;
  cursor: pointer;
  color: #454545;
}.retry{
  cursor: pointer;
  
}

@media(max-width:900px) {
  .my-orders-order {
    grid-template-columns: 2fr 2fr 1fr;
    grid-row: 5px;
    font-size: 12px;
  }
  .place{
    font-size: 100%;
  }
  .my-orders-order button {
    font-size: 10px;
  }
}
.verify {
  min-height: 20vh;
  display: grid;
}
.verify .spinner {
  margin-top: 8%;
  margin-left: 6%;
  width: 60px;
  height: 60px;
  border: 5px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  animation: rotate 1s infinite;
}
@media (max-width: 1500px) {
  .verify .spinner {
    width: 40px;
    height: 40px;
  }
} @keyframes rotate {
  100%{
      transform: rotate(360deg);
  }
  
}