.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}
.list-table-format.title {
  background-color: #f9f9f9;
}
.list-table-format img {
  width: 50px;
}.list-table-format p{
  margin-left: 10px;

}
.cursor{
    cursor: pointer;
    margin-left: 10px;
}.notpaid{
  color: red;
  background-color: rgba(216, 50, 31, 0.358);
  border-radius: 30%;
  padding: 0 2px;
}
@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }.list-table-format.title{
    display: none;
  }
}
